@import "tailwindcss";
@import "@catppuccin/tailwindcss/mocha.css";
@import "@catppuccin/palette/css/catppuccin.css";

:root {
  --background: var(--ctp-mocha-base);
  --foreground: var(--ctp-mocha-text);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), var(--font-mono);
  font-size: 100%;
}
